body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-10: #6a737c;
  --color-gray-20: hsl(210, 8%, 90%);
  --color-blue-10: #0a95ff;
  --color-blue-20: hsl(206, 100%, 40%);
  --color-blue-30: #e1ecf4;
  --color-blue-40: #39739d;
  --color-blue-50: #d0e3f1;
  --color-blue-60: #2c5877;
  --color-blue-70: #0a95ff;
  --color-blue-80: #0074cc;
}
